.root{
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--block-bg);
  border-radius: 0.5rem;
  justify-content: space-between;
  padding: 0 0.5rem;

  .info{
    display: flex;
    align-items: center;

    .image{
      width: 60px;
      height: 50px;
      position: relative;

      img {
        object-fit: contain;
      }
    }
  }


}