.root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .form{
    background-color: var(--bgc-page);
    padding: 1rem;
    border-radius: 0.5rem;

    .formTitle{
      margin-bottom: 1rem;
    }

    form{

      input{
        width: 100%;
        outline: none;
        border-radius: 0.25rem;
        border: none;
        height: 24px;
        background-color: var(--bgc-section);

        &:focus{
          border: 1px solid #265d63;
        }
      }
      .input{
        margin-bottom: 0.5rem;
      }

      .loginBtn{
        display: flex;
        justify-content: center;
      }
    }
  }
}

